<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= og.title %></title>
        <meta name="description" content="<%= og.description %>">
        <meta property="og:title" content="<%= og.title %>">
         <meta property="og:description" content="<%= og.description %>">
         <meta property="og:image" content="<%= og.image %>">
        <!-- *-------------------------------------------------------------------------------------------------------------------------------------------->
        <script type="text/javascript" src="/js/alert.js"></script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-JVLQFMWCBR"></script>
        <!--Google Analytics-->
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-JVLQFMWCBR');
          </script>
          <!--Schema Markup-->
           <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Article",
                "headline": "Confiteria",
                "datePublished": "2024-01-22",
                "author": {
                  "@type":"Person",
                  "name": "Excleyer"
                },
                "publisher":{
                  "@type": "Organization",
                  "name": "Confiteria",
                  "logo": {
                    "@type": "ImageObject",
                    "url": "https://images.pexels.com/photos/8853537/pexels-photo-8853537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  }
                },
                "image": {
                  "@type": "ImageObject",
                  "url": "https://images.pexels.com/photos/8853537/pexels-photo-8853537.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
                  "width": "800",
                  "height": "600"
                },
                "description": "Lo Mejor en productos de alta calidad"
              }
            </script>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/clientes.css" rel="stylesheet" />
        <link rel="icon" href="/img/descarga.jpg">
    </head>
    <body id="page-top">
        <div class='clasePadre'>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style='background:#4f443e7a'>
            <div class="container">
               
               
                <div class="row input-group-newsletter">
                    <div class="col">

                        <input class="form-control" id="buscarPrincipal" type="search" placeholder="Buscar Producto..." aria-label="Buscar Producto..."/>
                    </div>

                    <div class="col-auto" >
                       <button id='botonP' onclick="buscarProductos()"id='boton3' >Buscar</button>
                    
                        </div>
                

                </div>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#productosH2">Productos</a></li>
                        
           
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
       
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <br>
                    <br>
                    <br>

                    <h1 class="masthead-heading mb-0">Confiteria Mil Dulces</h1>
                    <h2 class="masthead-subheading mb-0">La mejor calidad para tus fiestas</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Contamos con</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <br>
        <br>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <br>
                    <br>
                    <br> 
                     
                    <h2 class="mb-5">Lo Mejor para tu paladar</h2>
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/1.png" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Caramelo</h2>
                            <p>Traemos lo mejor para los pequeños de la casa hecho por los mejores Proveedores hechos con el mejor pruducto y infinidad de Salores y Sabores    .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/2.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Chocolate</h2>
                            <p>Directamente desde del campo traemos chocolate de la mas alta calidad y sus derivados desde pequeños bonbones hasta las mejores barras de chocolate y tambien rellenas con corberturas lo que te imagines q sea de chocolate aqui de lo podras encontrar.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/3.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Frutos Secos</h2>
                            <p>Producto desidratado 100% calidad perfecto para acompañar una tarde de verano o para vertirlos en tu reseta Favorita la variedad es finita pero ofrecemos lo mejor y lo mas variado para dar lo mejor en servicios para ti.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="/img/4.jpg" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Gomitas</h2>
                            <p>Traemos lo mas bariado en Formas,Sabores y colores para tu pequeños es o mejor posible ya q suetro servicios es cuidar de tu pequeños y de ti .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Portfolio-->
        <section class="content-section" id='productosH2'>
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    
                    <h2 class="mb-5">Los Mejores en Calidad</h2>
                </div>
                <div class="row justify-content-center">
        
                    <button id='botonCuadricula' style='width: 12vw;background:transparent;margin-left:98%;border:none' onClick="cuadricula()"><img src="/img/lista-de-verificacion.png" style='width:100%;border:none'></button>
                    <button id='ordenarBtn2' class="ordenarBtn2">Ordenar</button>
                    <div id='co'>
                    </div>
                   <div class='product' id='listaDeProductos'>
                   
                   <%for(let x = 0;x < producto.length;x++){%>
                    
                   <div class='productooo'>
                    
                        <img src="<%= producto[x].imagen_url %>" class='imagen' id='imagenSelector'>
                        <br>

                          <div id='NPB'>
                            
                            <div style='display:flex;flex-direction: column;justify-content:center;align-items:center'>
                   <strong><p>Nombre:</strong><%= producto[x].nombre %></p>
                   <strong><p>Precio: </strong><span style='color:green'><%= producto[x].precio %> $</span></p>

                            </div>

                            <div id='comprarDetalles'>

                                <div class='contenedorPuntuacion'>

                                    <p class="puntuacion" data-producto_id='<%=producto[x].producto_id%>' data-puntuacion='<%=producto[x].puntuacion%>'><% if(producto[x].puntuacion !== null){ %>
                                     Puntuación: <%=producto[x].puntuacion%>
                                    <% }else{%>
                                     Sin Puntos
                                    <% } %> 
                                    </p>
                 
                 
                                    </div>
                                   
                                    <div class='estrellas'>
                                      <img src="/img/estrella.png" width="20" class="estrella" data-valor='1' title="1">
                                      
                                      <img src="/img/estrella.png" width="20" class="estrella" data-valor='2' title="2">
                 
                                      <img src="/img/estrella.png" width="20" class="estrella" data-valor='3' title="3">
                 
                                      <img src="/img/estrella.png" width="20" class="estrella" data-valor='4' title="4">
                 
                                      <img src="/img/estrella.png" width="20" class="estrella" data-valor='5' data-producto_id='<%=producto[x].producto_id%>' title="5"> 
                                  </div> 
                
                                 
                               <a href="/comprar/<%=producto[x].producto_id%>"><img src="/img/compra.png" width="30"></a>
                 
                                <a href="/detalles/<%=producto[x].producto_id%>" style='margin-top:7px;margin-left:8px;'><img src="/img/detalles.jpg" width="30"></a> 
                 
                            </div>
                           

                          </div>

                   </div>
                   <% } %>
               <!-------------------->
                      <table class='table'>

               <thead>
                   <tr style='border:1px solid black'>
                       
                       <th class='column'>Imagen</th>
                       <th class='column'>Nombre</th>
                       <th class='column'>Codigo</th>
                       <th class='column'>Precio</th>
                       <th class='column'>Descripcion</th>
                       <th class='column'>Calidad</th>
                       <th class='column'>Cantidad</th>
                      
                       
                   </tr>
               </thead>

               <tbody>
               <%for(let u = 0;u < producto.length;u++){%>
                <tr class='tr' style='border:1px solid black'><!--ul-->
                   <!--li-->
                   <td class='column'><img src="<%= producto[u].imagen_url %>" style='width:100%;height:17vh'></td>
                    <td class='column'><%= producto[u].nombre %></td>
                    <td class='column'><%= producto[u].codigo %></td>
                    <td class='column'><%= producto[u].precio %></td>
                    <td class='column'><%= producto[u].descripcion %></td>
                    <td class='column'><%= producto[u].calidad %></td>
                    <td class='column'><%= producto[u].cantidad %></td>
                   
                     
                </tr> 
                <% } %>
               </tbody>
                </table>
                  <%for(let l = 0 ; l < producto.length; l++){%>
               <ul class='ULtabla3'>
                   <li class='LItabla3'><img src="<%= producto[l].imagen_url %>" style='width:40%;'></li>
                   <li class='LItabla3'><span>Nombre: </span><span><%= producto[l].nombre %></span></li>
                   <li class='LItabla3'><span>Codigo: </span><span><%= producto[l].codigo %></span> </li>
                   <li class='LItabla3'><span>Precio: </span><span><%= producto[l].precio %></span> </li>
                   <li class='LItabla3'><span>Descripcion: </span><span><%= producto[l].descripcion %></span></li>
                   <li class='LItabla3'><span>Color: </span><span><%= producto[l].color %></span></li>
                   <li class='LItabla3'><span>Peso: </span><span><%= producto[l].peso %></span></li>
                   <li class='LItabla3'><span>Categoria: </span><span><%= producto[l]. categoria_id %></span></li>
               </ul>
               <% } %>
                   </div>
                  
               </div>
           </div>
        </section>


        <footer class="footer text-center">
            <div class="container px-4 px-lg-5">
              
                <p class="text-muted small mb-0">Copyright &copy; Javier2023</p>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!----------------------------------------------------------------*------------------->
        <script type="text/javascript" src='/js/puntuaciones.js'></script>
<script type="text/javascript" src='/js/descendente.js'></script>
<script type="text/javascript">
     fetch('/transaction')
    .then(res=>res.json())
    .then(respuesta=>{
        if(respuesta.message !== false){
         console.log(respuesta);
           Swal.fire(respuesta.transaction.message)

           .then(() =>{
        // Aquí la alerta se ha cerrado
            console.log("Alerta cerrada");
            fetch('/eliminarTransaction')
            .then(res=> res.json())
            .then(respuesta2=>{
            console.log(`Message : ${respuesta2.message}`);
            })
            .catch(error => {
               console.error('*_*/-[Error]-/*_*:', error);
             });
        }); 

           console.log(respuesta.transaction.message,'respuesta del server');  
       }else{
        console.log('No se recibio respuesta of the transaction'); 
    }

})
</script>


        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/script.js"></script>
    </body>
</html>
