<div id="editorcentrall">
<!------------------------------------------>


<input type="text" autofocus name="nombre"placeholder="Nombre" value="<%=modelo.nombre%>"/>

<!------------------------------------------>



<input name="codigo" type="number"placeholder="codigo" value="<%= modelo.codigo%>"/>

<!--------------------------------------------->


<input type="number" name="precio"placeholder="precio" value="<%= modelo.precio %>">

<!----------------------------------------------------->

<input type="text" name="descripcion"placeholder="descripcion" value="<%= modelo.descripcion %>">

<!----------------------------------------------------->

<input type="text" name="calidad"placeholder="calidad" value="<%= modelo.calidad %>">
<!----------------------------------------------------->

<input type="number" name="cantidad"placeholder="cantidad" value="<%= modelo.cantidad %>">
<!----------------------------------------------------->
<input id='categoria' type="number"placeholder="categoria" name="categoria" value="<%= modelo.categoria_id %>">
</div>
